<header>
    <nav class="main">
        <a href="{{ .Site.BaseURL }}" class="brand">
            <span>{{ .Site.Title }}</span>
        </a>

        <input id="main-menue-checkbox" type="checkbox" class="show">
        <label for="main-menue-checkbox" class="burger pseudo button">menu</label>

        <div class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)}}
            <a class="pseudo button{{ if $isActive }} active{{ end }}" href="{{ .URL }}">
                <span>{{ .Name }}</span>
            </a>
            {{ end }}
        </div>
    </nav>
</header>