
@import './picnic_overrides.scss';
@import './picnic/src/themes/squared/theme';
@import './picnic/src/picnic.scss';

nav.main {
    background: $base03;
    color: $base3;
};

nav.main .burger ~ .menu, nav .show:checked ~ .burger div {
    background: $base03;
    color: $base3;
}

main {
    padding-top: $picnic-nav-height;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

aside {
    h3 {
        padding-top: 1.5em;
    }
    a.button {
        padding-left: 2em;
        text-align: left;
    }
}

nav#TableOfContents {
    float: none;
    position: relative;
    z-index: auto;
}

.card.page {
    margin: 1em;
}

.card.notice header {
    color: $yellow;
    background: $base3;
}

.card.rpg header {
    color: $cyan;
    background: $base2;
}