@import './picnic_overrides.scss';
@import './picnic/src/themes/squared/theme';
@import './picnic/src/picnic.scss';

a:not(.brand) {
    color: $blue;
}

a:hover {
    text-decoration: underline;
}

a:active:not(.brand) {
    color: $base01;
}

nav.main {
    background: $base03;
    color: $base3;
};

nav.main .burger ~ .menu, nav .show:checked ~ .burger div {
    background: $base03;
    color: $base3;
}

main {
    padding-top: $picnic-nav-height;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

aside {
    h3 {
        padding-top: 1.5em;
    }
    a.button {
        padding-left: 2em;
        text-align: left;
    }
}

nav#TableOfContents {
    float: none;
    position: relative;
    z-index: auto;
}

.card {
    border-radius: 0.3em;
    box-shadow: 0 0.3em 0.7em -0.5em;
    margin: 0 auto 1em;
    display:flex;
    flex-direction:column;
}

.card header {
    border-bottom-style: solid;
    border-width: 0.1em;
    border-color: $base2;
}

.card footer {
    border-top-style: solid;
    border-width: 0.1em;
    border-color: $base2;
    margin-top:auto;
}

.card.page {
    margin: 1em;
}

.card.rpg header {
    color: $cyan;
    background: $base2;
}

.card.notice header {
    color: $yellow;
    background: $base3;
}

.card.warning header {
    color: $red;
    background: $base3;
}

.mermaid {
    text-align: center;
}

.mermaid svg {
    margin: auto;
}
