{{ define "main" }}
<main>
    <div class="flex">
        <section>
            <article>
                <header>
                    <h1>{{ .Title }}</h1>
                </header>
                {{ .Content }}
            </article>
            <div class="flex one two-600 three-1200 center">
                {{ range sort .Pages ".Params.menu.side.weight" "asc"}}
                <article class="card page">
                    <header class="stack">
                        <h2>{{ .Title }}</h2>
                    </header>
                    <p class="stack">
                        {{ .Summary }}
                    </p>
                    <footer class="stack">
                        <a href="{{ .Permalink }}">See more</a>
                    </footer>
                </article>
                {{ end }}
            </div>
        </section>
    </div>
</main>
{{ end }}
