{{ define "main" }}
<main>
    <div class="flex five">
        <aside class="fifth-600 full">
           {{ partial "site/side_menu.html" .}}
        </aside>
        <section class="three-fifth-600 full">
            <article>
                <header>
                   <h1>{{ .Title }}</h1>
                </header>
                {{ .Content }}
            </article>
        </section>
        <aside class="fifth-600 none">
           <h3>On this page</h3>
           {{ .TableOfContents }}
        </aside>
    </div>
</main>
{{ end }}
